
body{
	display: block;
	margin: 0px;
}

#mainScreenContainer{
	display: grid;
	grid-template-rows: 9fr 1fr;
}

#postScreenContainer{
	height: 100vh;
	width: 100vw;
}

#Mapveiw_Map{
	width: 100vw;
	height: 90vh;
	/*border: solid black 1vw;*/
}

#Postview{
	/*background-color: red;*/
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-rows: 9fr 6fr 1fr;
}

#img{
	display: block;
	max-width:100vw;
	max-height:60vh;
	width: auto;
	height: auto;
	border: solid 1px black;
}

#img_Text{
	border: solid 1px blue;
}

#img_Text_textarea{
	width: 95vw;
	height: 15vh;
}

#img_Post_Cancel{
	border: solid 1px orange;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#menueBar{
	width: 100vw;
	height: 10vh;

	background-color: green;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.menueBar_iteam{
	text-align: center;
	border: solid black 1px;
}

/*#menueBarImg{
	visibility: hidden;
}*/

/*body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
*/